{% include 'police/police_header.html' %}

<section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
  
  
  
      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <!-- <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span> -->
      </a>
  
      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <!-- <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span> -->
      </a>
  
    </div>
  
    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>
  
  </section><!-- End Hero -->
  <br>
<center>
    <h1>Report</h1>
    <table class="table table-striped" align="center" style="width: 80%;">
    <tr>
            <th>Sl.No</th>
            <th>Names</th>
            <th>Description</th>
            <th>Replys</th>
            <th>Status</th>
        </tr>
        {%for i in data['report']%}
        <tr class="table-light">
            <td>{{loop.index}}</td>
            <td>{{i['name']}}</td>
            <td>{{i['description']}}</td>
            <td>{{i['reply']}}</td>
            <td>{{i['status']}}</td>
            {%if i['reply']=='pending'%}
            <td><a class="btn btn-primary" href="police_send_report_reply?report={{i['report_id']}}">Reply</a></td>
            {%endif%}

            {% if i['reply'] != 'pending' and i['status'] == 'pending' %}
            <td><a class="btn btn-primary" href="?action=takeaction&report={{i['report_id']}}">Take action</a></td>
            {% endif %}

        </tr>
        {%endfor%}
    </table>
</center>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% include 'footer.html' %}